* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --gutter: 30px;
  --small-side: 26;
  --big-side: 36;
}

@font-face {
  font-family: raleway_100;
  src: url('../assets/fonts/raleway-v22-cyrillic-100.woff2');
  font-weight: 100;
}

@font-face {
  font-family: raleway_300;
  src: url('../assets/fonts/raleway-v22-cyrillic-300.woff2');
  font-weight: 300;
}

body {
  background-color: #000;
  color: #fff;
  font-size: calc(var(--index) * .8); /* .8 - стандартный размер от браузера */
  font-family: raleway_100, sans-serif;
  line-height: 1.7;
}
