* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --gutter: 30px;
  --small-side: 26;
  --big-side: 36;
}

@font-face {
  font-family: raleway_100;
  src: url('../assets/fonts/raleway-v22-cyrillic-100.woff2');
  font-weight: 100;
}

@font-face {
  font-family: raleway_300;
  src: url('../assets/fonts/raleway-v22-cyrillic-300.woff2');
  font-weight: 300;
}

body {
  background-color: #000;
  color: #fff;
  font-size: calc(var(--index) * .8); /* .8 - стандартный размер от браузера */
  font-family: raleway_100, sans-serif;
  line-height: 1.7;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed; /* для управления контейнером по z-оси */
  perspective: 1500px; /* обязательно для родителя если трансформации по z-оси */

}

.gallery {
  transform-style: preserve-3d; /* обязательно задается если элемент-прослойка */
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}